.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.cusine-btn {
  padding: 10px;
  margin: 0.5rem;
  border-radius: 10px;
  border: none;
  background-color: #ff6961;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
